*.iml
.gradle
/cliente/local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
/cliente/build
/cliente/captures
.externalNativeBuild
.idea

/conductor/local.properties
/conductor/build
/conductor/captures
